@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --primary-font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* boostrap form style */

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  width: 80% !important;
}

span.input-group-addon {
  width: 50px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid red;
  margin: auto;
  margin-top: 5vh;
  min-height: 65vh;
  padding: 1rem;
  gap: 2rem;
  width: 80%;
  flex-wrap: wrap;
  font-family: var(--primary-font-family);
}

.nav {
  background-color: red;
}

.heroImg {
  width: max(20vw, 250px);
  /* outline: 2px solid blue; */
}

.register-login {
  display: flex;
  flex-wrap: wrap;
  width: max(40vw, 225px);
  align-content: center;
}

.register-login div {
  width: max(17.5vw, 200px);
}

.register-login button {
  width: 120px;
  margin-top: 15px;
}

.register-login button:hover {
  background-color: rgb(61, 61, 193);
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
